RewriteEngine On

# Application Handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1 [L]

# Allow access for webfonts.
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

# Allow access for JS & CSS
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
