/* DEFAULT CSS */

/* pic alignment */
img.pic.default { margin: 0; }
img.pic.bordered { background: #fff; border: 1px solid #ddd; padding: 10px; }
img.pic.left { display: inline; float: left; margin: 0 20px 0 0; }
img.pic.right { display: inline;  float: right; margin: 0 0 0 20px; }
img.pic.center  { display: block; margin-left: auto; margin-right: auto; }
img.pic.full { width: 100%; margin: 0; text-align: center; }

/* columns */
div.col1 { display: inline; float: left; }
div.col2 { display: inline; float: left; }
div.col3 { display: inline; float: left; }
div.col4 { display: inline; float: left; }


/* --------- STANDARD TEMPLATE --------- */

/* columns */
div.tpl-standard { margin: 0 0 30px; clear: both; }


/* --------- LEFT BAR TEMPLATE --------- */

/* columns */
div.tpl-leftbar { display: inline; float: left; margin: 0 0 30px; clear: both; }
div.tpl-leftbar .col1 { width: 179px; margin: 0 30px 0 0; padding: 0; }
div.tpl-leftbar .col2 { width: 769px; margin: 0; padding: 0; }


/* --------- RIGHT BAR TEMPLATE --------- */

/* columns */
div.tpl-rightbar { display: inline; float: left; margin: 0 0 30px; clear: both; }
div.tpl-rightbar .col1 { width: 769px; margin: 0 30px 0 0; padding: 0; }
div.tpl-rightbar .col2 { width: 179px; margin: 0; padding: 0; }


/* --------- LEFT BAR 2 COL TEMPLATE --------- */

/* columns */
div.tpl-leftbar-2col { display: inline; float: left; margin: 0 0 30px; clear: both; }
div.tpl-leftbar-2col .col1 { width: 179px; margin: 0 30px 0 0; padding: 0; }
div.tpl-leftbar-2col .col2 { width: 369px; margin: 0 30px 0 0; padding: 0; }
div.tpl-leftbar-2col .col3 { width: 369px; margin: 0; padding: 0; }


/* --------- RIGHT BAR 2 COL TEMPLATE --------- */

/* columns */
div.tpl-rightbar-2col { display: inline; float: left; margin: 0 0 30px; clear: both; }
div.tpl-rightbar-2col .col1 { width: 369px; margin: 0 30px 0 0; padding: 0; }
div.tpl-rightbar-2col .col2 { width: 369px; margin: 0 30px 0 0; padding: 0; }
div.tpl-rightbar-2col .col3 { width: 179px; margin: 0; padding: 0; }


/* --------- 2 COL TEMPLATE --------- */

/* columns */
div.tpl-2col { display: inline; float: left; margin: 0 0 30px; clear: both; }
div.tpl-2col .col1 { width: 474px; margin: 0 30px 0 0; padding: 0; }
div.tpl-2col .col2 { width: 474px; margin: 0; padding: 0; }


/* --------- 3 COL TEMPLATE --------- */

/* columns */
div.tpl-3col { display: inline; float: left; margin: 0 0 30px; clear: both; }
div.tpl-3col .col1 { width: 306px; margin: 0 30px 0 0; padding: 0; }
div.tpl-3col .col2 { width: 306px; margin: 0 30px 0 0; padding: 0; }
div.tpl-3col .col3 { width: 306px; margin: 0; padding: 0; }


/* --------- 4 COL TEMPLATE --------- */

/* columns */
div.tpl-4col { display: inline; float: left; margin: 0 0 30px; clear: both; }
div.tpl-4col .col1 { width: 222px; margin: 0 30px 0 0; padding: 0; }
div.tpl-4col .col2 { width: 222px; margin: 0 30px 0 0; padding: 0; }
div.tpl-4col .col3 { width: 222px; margin: 0 30px 0 0; padding: 0; }
div.tpl-4col .col4 { width: 222px; margin: 0; padding: 0; }


/* --------- BLOG TEMPLATE --------- */

/* columns */
div#tpl-blog .col1 { float: left; width: 209px; margin: 0 30px 0 0; padding: 0; }
div#tpl-blog .col2 { float: left; width: 499px; margin: 0 30px 0 0; padding: 0; }
div#tpl-blog .col3 { float: left; width: 209px; margin: 0; padding: 0; }

div#tpl-blog .post { margin: 0 0 30px; }

div#tpl-blog h1 a { color: #222; }
div#tpl-blog h2 a { color: #222; }
div#tpl-blog h3 a { color: #555; }

div#tpl-blog .back { float: right; }
div#tpl-blog #addcomment { margin: 40px 0 0; }
div#tpl-blog #comments { margin: 20px 0 0; }
div#tpl-blog .comment { float: left; width: 453px; padding: 10px; margin: 0 0 10px; background: #f2f2f2; clear: both; }
div#tpl-blog .comment img { float: left; margin: 0 20px 0 0; }
div#tpl-blog .comment.alt { background: #f8f8f8; }

div#comments .col1 { width: 50px; margin: 0 20px 0 0; }
div#comments .col2 { width: 330px; margin: 0; }


/* --------- EVENTS TEMPLATE --------- */

/* columns */
div#tpl-events .col1 { float: left; width: 209px; margin: 0 30px 0 0; padding: 0; }
div#tpl-events .col2 { float: left; width: 499px; margin: 0 30px 0 0; padding: 0; }
div#tpl-events .col3 { float: left; width: 209px; margin: 0; padding: 0; }

div#tpl-events .event { margin: 0 0 30px; }

div#tpl-events h1 a { color: #222; margin: 0 0 10px; clear: both; }
div#tpl-events h2 a { clear: both; }
div#tpl-events h3.date { font-size: 1.2em; }
div#tpl-events h4.month { color: #999; }

div#tpl-events p.back { float: right; }

div#tpl-events .calendar { font-size: 0.9em; margin: 0 0 20px; text-align: center; }
div#tpl-events .calendar table th { background: #f4f4f4; }

/* --------- SHOP TEMPLATE --------- */

/* columns */
div#tpl-shop .col1 { float: left; width: 209px; margin: 0 30px 0 0; padding: 0; }
div#tpl-shop .col2 { float: left; width: 738px; margin: 0; padding: 0; }

div#tpl-shop .description { display: inline; float: left; width: 498px; margin: 0 40px 0 0; padding: 0; }
div#tpl-shop .purchase { display: inline; float: left; width: 200px; margin: 0; padding: 0; }

div#tpl-shop .productpic { background: #fff; padding: 10px; border: 1px solid #ddd; }

div#tpl-shop td .productpic { margin: 0 0 10px; }

div#tpl-shop #reviews { margin: 10px 0; }
div#tpl-shop .review { float: left; width: 478px; padding: 10px; margin: 0 0 10px; background: #f2f2f2; clear: both; }
div#tpl-shop .review img.rating { float: right; margin: 0; vertical-align: middle; }
div#tpl-shop .review.alt { background: #f8f8f8; }

div#reviews .col1 { width: 50px; margin: 0 20px 0 0; }
div#reviews .col2 { width: 408px; margin: 0; }

/* --------- FORUM TEMPLATE --------- */

div#tpl-forum .headingleft { width: 550px; }
div#tpl-forum table.default { font-size: 1em; background: #eee; border-spacing: 1px; margin: 0 0 20px; clear: both; }
div#tpl-forum table.default th { padding: 10px 8px; background: #f2f2f2; color: #777; text-align: left; }
div#tpl-forum table.default td { padding: 10px 8px; background: #fff; }
div#tpl-forum tr.header th { font-size: 1.2em; background: #eaeaea; color: #222; }
div#tpl-forum .post { height: auto !important; height: 100px; min-height: 100px; padding: 0 0 20px; }
div#tpl-forum .group { font-size: 0.9em; line-height: 2em; }
div#tpl-forum .posts { font-size: 0.8em; color: #777; line-height: 1.4em; }
div#tpl-forum .kudos { font-size: 0.8em; color: #777; line-height: 1.4em; }
div#tpl-forum .sticky { font-weight: bold; }

div#tpl-forum .post blockquote { margin: 0; }


/* --------- COMMUNITY TEMPLATE --------- */

div#tpl-community .col1 { display: inline; float: left; width: 150px; margin: 0 30px 0 0; padding: 0; }
div#tpl-community .col2 { display: inline; float: left; width: 798px; padding: 0; margin: 0; }


/* --------- GROUPS TEMPLATE --------- */

/* content */
div#tpl-groups #post { width: 427px; }

/* columns */
div#tpl-groups .col1 { float: left; width: 150px; margin: 0 30px 0 0; padding: 0; }
div#tpl-groups .col2 { float: left; width: 539px; margin: 0 30px 0 0; padding: 0; }
div#tpl-groups .col3 { float: left; width: 229px; margin: 0; padding: 0; }

div#tpl-community .group, div#tpl-groups .group { float: left; width: 98%; padding: 5px; border: 1px solid #ccc; margin: 0 0 10px; clear: both; }


/* --------- PROFILE TEMPLATE --------- */

/* friends */
div#tpl-profile .friend, div#tpl-community .friend  { display: inline; float: left; padding: 4px; margin: 0 5px 5px 0; text-align: center; font-size: 0.9em; }

/* content */
div#tpl-profile #post { width: 427px; }
div#tpl-profile .bio { font-size: 0.9em; }
div#tpl-profile ul.innernav { padding: 0; }

/* columns */
div#tpl-profile .col1 { float: left; width: 539px; margin: 0 30px 0 0; padding: 0; }
div#tpl-profile .col2 { float: left; width: 229px; margin: 0; padding: 0; }


/* --------- MESSAGES TEMPLATE --------- */

/* columns */
div#tpl-messages .col1 { display: inline; float: left; width: 150px; margin: 0 30px 0 0; padding: 0; }
div#tpl-messages .col2 { display: inline; float: left; width: 798px; padding: 0; margin: 0; }

/* tables */
div#tpl-messages td { border-bottom: 1px solid #eee; }
div#tpl-messages tr.unread td { background: #f6f6f6; font-weight: bold; }

/* generic rows */
div#tpl-messages div.row { display: inline; float: left; padding: 0; margin: 0 0 30px; background: #f4f4f4; clear: both; }
div#tpl-messages div.left { display: inline; float: left; width: 60px; margin: 0 20px 0 0; padding: 10px; }
div#tpl-messages div.right { display: inline; float: left; width: 678px; margin: 0; padding: 10px; }


/* --------- FEED TEMPLATE --------- */

div#users-feed { display: block; }
div#groups-feed { display: none; }


/* --------- WIKI TEMPLATE --------- */

div#tpl-wiki .col1 { display: inline; float: left; width: 150px; margin: 0 30px 0 0; padding: 0; }
div#tpl-wiki .col2 { display: inline; float: left; width: 798px; padding: 0; margin: 0; }


/* --------- POPUP TEMPLATE --------- */

div#tpl-popup { width: 580px; height: auto !important; height: 280px; min-height: 280px; padding: 10px 0 40px; clear: both; }

#facebox { position: absolute; top: 0; left: 0; z-index: 1000; text-align: left; }
#facebox .content { padding: 0; }
#facebox .popup { position: relative; }
#facebox .close { position: absolute; top: -12px; right: -12px; display: block; color: #333; clear: both; outline: none; border: none; text-decoration: none; z-index: 1000; }
#facebox .close img { z-index: 1000; }
#facebox .body { padding: 20px 20px 10px 20px; background: #fff; width: 600px; }
#facebox .loading { text-align: center; }
#facebox .image { text-align: center; }
#facebox .clear { clear: both; }
#facebox img { border: 0; margin: 0; }
#facebox .sl { background: url(http://static.url.com/js/facebox/sl.png); }
#facebox .st { background: url(http://static.url.com/js/facebox/st.png); }
#facebox .sr { background: url(http://static.url.com/js/facebox/sr.png); }
#facebox .sb { background: url(http://static.url.com/js/facebox/sb.png); }
#facebox .tl { background: url(http://static.url.com/js/facebox/tl.png); }
#facebox .tr { background: url(http://static.url.com/js/facebox/tr.png); }
#facebox .bl { background: url(http://static.url.com/js/facebox/bl.png); }
#facebox .br { background: url(http://static.url.com/js/facebox/br.png); }
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br { height: 22px; width: 22px; overflow: hidden; padding: 0; }
#facebox table#fbtable { border-collapse: collapse; }
#facebox_overlay { position: fixed; top: 0px; left: 0px; height:100%; width:100%; }
#facebox form.default label, #facebox form.default input, #facebox form.default textarea, #facebox form.default select, #facebox a.button { float: left; font-family: "Lucida Grande", arial, sans-serif; font-size: 1em; }
#facebox form.default input, form.default textareal, form.default select, .formelement { margin: 0 6px 6px 0; }
#facebox form.default label { width: 110px; margin: 0 10px 6px 0; padding: 4px 0 0; }
#facebox form.default .formelement { padding: 7px; }
#facebox form.default .nolabel { margin: 0 4px 6px 120px; }
.facebox_hide { z-index:-100; }
.facebox_overlayBG { background-color: #000; z-index: 999; }
