/* Lets start our random ramblings */

* { box-sizing: border-box; padding:0; margin: 0; }

body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color:white;
	font-size:12px;
	background: rgb(16,147,208); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwOTNkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzBkNzFhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTM5NWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(16,147,208,1) 0%, rgba(13,113,171,1) 31%, rgba(1,57,91,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(16,147,208,1)), color-stop(31%,rgba(13,113,171,1)), color-stop(100%,rgba(1,57,91,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(16,147,208,1) 0%,rgba(13,113,171,1) 31%,rgba(1,57,91,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(16,147,208,1) 0%,rgba(13,113,171,1) 31%,rgba(1,57,91,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(16,147,208,1) 0%,rgba(13,113,171,1) 31%,rgba(1,57,91,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(16,147,208,1) 0%,rgba(13,113,171,1) 31%,rgba(1,57,91,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1093d0', endColorstr='#01395b',GradientType=1 ); /* IE6-8 */
}

form {
  background:#111; 
  width:540px;
  margin:100px auto;
  border-radius:0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.6);
}

form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

#right-content {
  padding:0px 20px 0 5px; 
}

form h1 {
  font-size:18px;
  font-weight:bold;
  text-shadow:0 1px 0 black;
  text-align:center;
  position:relative;
}

label {
  color:#CDCDCD;
  font-weight:700;
}

input[type=text],
input[type=password] {
  color: #ADADAD;
  width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  margin-bottom:15px;
}

label[for=remember]{
  color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:5px;
}

input[type=checkbox] {
  display:inline-block;
  vertical-align:top;
}

.p-container {
 	padding:0 20px 10px 20px; 
}

.p-container:after {
  clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#5A98CF;
  padding-top:8px;
}

input[type=submit] {
  padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#337AB7;
  color:white;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
}

input[type=button] {
  padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#337AB7;
  color:white;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=button]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
	color:white;
 	background:#27292c;
}

.hazar-separator {
	border-top: 1px solid rgb(42, 39, 39);
}

/* Side Menu */

.colstyle {
	border-right: solid 2px rgb(38, 38, 38);
}

.nav-pills>li.active>a {
	border-left: solid 2px white;
	border-right: solid 2px white; 
}

.nav-stacked>li+li {
	margin-top: 20px;
}

.sidefun2 {
	background-color: green;
}

#navside {
	margin-left: 10px;
}

.li-style {
	padding: 15px;
	color: #CDCDCD;
}

/* OMG AN ERROR ? or */

.error {
	color: red;
	background: rgb(35, 37, 40);
	padding: 5px;
	font-weight: bold;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}

.sucsess {
	color:#209617;
}